<project-only-directive>
  <h1 testDirective>Title</h1>
  <div>
    <h2>Subtitle</h2>
    <h3>SubSubtitle</h3>
  </div>
</project-only-directive>

<hr/>

<project-only-directive>
  <h1 testDirective>Title</h1>
  <div ngProjectAs="[testDirective]">
    <h2>Subtitle</h2>
    <h3>SubSubtitle</h3>
  </div>
</project-only-directive>

<hr/>

<project-directive-and-fallback>
  <h1 testDirective>Title</h1>
  <div>
    <h2>Subtitle</h2>
    <h3>SubSubtitle</h3>
  </div>
</project-directive-and-fallback>
