<h1>Ng-ui-magic</h1>

<router-outlet></router-outlet>

<!--
<h2 greeting firstname="Kevin" lastname="Kreuzer">Real Madrid is awesome</h2>
<h3 clickeme>Click me</h3>
<h3 clickeme>Click me again</h3>
<hr/>

<button trackclick>Button one</button>
<button trackclick>Button two</button>
<hr/>

<template-sample></template-sample>
<create-template></create-template>
<template-with-data></template-with-data>
<hr/>

<h1 *three>I am logged multiple times</h1>
<hr/>

<h1 *threedynamic="let message loop messages">{{ message }}</h1>
<hr/>

<h1 *threedata="let message">The message: {{message}}</h1>
<hr/>

<h1>My NgIf</h1>
<button (click)="toggled = !toggled">{{ toggled ? 'Hide': 'Show' }}</button>
<h1 *myNgIf="toggled">Value set to {{ toggled }}</h1>
<hr/>

<h1 *threedataIndex="let message goThrough messages; let i = index">Message: {{message}}, Index: {{i}}</h1>
<hr />
<move-example></move-example>

<hr />
<div green class="hunderedWidth hunderedHeight">
  <h1>I am green</h1>
</div>
<div class="awesome-container" blueOnClick>
  <h1>Real Madrid</h1>
</div>

<hr />
<h1>Content projection</h1>
<content-projection></content-projection>
-->
